body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	font-family: 'Fjalla One', sans-serif;
	background: url("./frontend/assets/eurostar-image.jpeg");
}

code {
	font-family: 'Fjalla One', sans-serif;
}
li {
	list-style: none;
	width: 250px;
	height: auto;
}
ul {
	display: flex;
}
